
//- This Source Code Form is subject to the terms of the Mozilla Public
//- License, v. 2.0. If a copy of the MPL was not distributed with this
//- file, You can obtain one at http://mozilla.org/MPL/2.0/.
//-
//- Copyright (c) 2021-present Kaleidos Ventures SL

.notification(v-bind:class="notifyError ? 'error' : 'success' ")
  tg-button.close(
    type='button'
    v-bind:alt='t("CLOSE")'
    v-bind:title='t("CLOSE")'
    v-on:click='close()'
  )
    include ../../assets/images/discard.svg
  template(v-if="notifyError")
    h3 {{ t('ERROR') }}
    p {{ t(notifyText) }}
  template(v-else)
    h3 {{ t('SUCCESS') }}
    p {{ t(notifyText) }}
