(function (window) {
    window.__env = {
        TITLE: "Taiga Seed",
        BASE_URL: "http://localhost:8080/",
        TAIGA_API: "http://localhost:8000/api/v1/",
        TAIGA_TREE: "http://localhost:9001/external-apps",
        TAIGA_FRONT: "http://localhost:9001/",
        APP_KEY: "075b368c-9d9d-11e9-a347-40e230d23823",
        TAIGA_EVENTS_URL: "ws://localhost:8888",
        TAIGA_EVENTS_RECONNECT_TRY_INTERVAL: "10000",
        TAIGA_EVENTS_MAX_MISSED_HEARTBEATS: "5",
        TAIGA_EVENTS_HEARTBEAT_INTERVAL_TIME: "10000"
    }
})(this);
